body {

}
.subrayado{
    text-decoration-style:dotted;
}
.conviertete-en-orador{
    
}

.palabra-orador{
    
}

.formulario{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.pie{
    background-image: linear-gradient(to right, #1d3947,#1d5271);
    padding: 50px;
    text-align: center;
}

.color{
    color: white;
}