body {

}
.subrayado{
    text-decoration-style:dotted;
}
.conviertete-en-orador{
    
}

.palabra-orador{
    
}

.formulario{
    align-items: center;
    text-align: center;
    justify-content: center;
}